<?xml version='1.0'?>
<launch>

    <arg name="laser_topic" default="/load/scan"/>
    <arg name="cmd_vel_topic" default="/load/cmd_vel"/>

    <node pkg="basic_navigation" type="osm_navigation_node" name="osm_navigation"
          respawn="false" output="screen">
        <remap from="~bn_feedback" to="/basic_navigation/feedback" />
        <remap from="~bn_mode" to="/basic_navigation/switch_mode" />
        <remap from="~cancel_bn" to="/basic_navigation/cancel" />
        <remap from="~bn_goal_path" to="/basic_navigation/goal_path" />
        <remap from="~laser" to="$(arg laser_topic)" />
        <remap from="~cmd_vel" to="$(arg cmd_vel_topic)" />

        <param name="network_file" value="$(find basic_navigation)/ros/config/osm_network.yaml"/>
        <param name="wp_goal_tolerance" type="double" value="1.5"/>
        <param name="global_frame" type="string" value="map"/>
        <param name="robot_frame" type="string" value="load/base_link"/>
        <param name="footprint_padding" type="double" value="0.1"/>

        <!-- recovery params -->
        <param name="recovery_wait_duration" type="double" value="2.0"/>
        <param name="recovery_motion_duration" type="double" value="2.0"/>
        <param name="recovery_vel" type="double" value="0.1"/>
    </node>

</launch>
