<?xml version='1.0'?>
<launch>

    <arg name="building" default="BRSU"/>

    <node pkg="basic_navigation" type="osm_navigation_node" name="osm_navigation"
          respawn="false" output="screen">
        <remap from="~bn_feedback" to="/route_navigation/feedback" />
        <remap from="~cancel_bn" to="/basic_navigation/cancel" />
        <remap from="~bn_goal" to="/move_base_simple/goal" />
        <remap from="~bn_goal_path" to="/basic_navigation/goal_path" />

        <param name="network_file" value="$(find basic_navigation)/ros/config/osm_network.yaml"/>
        <param name="wp_goal_tolerance" type="double" value="1.5"/>
        <param name="global_frame" type="string" value="map"/>
        <param name="robot_frame" type="string" value="load/base_link"/>
    </node>

</launch>
