<?xml version="1.0"?>
<launch>
    <arg name="map_file" default="$(find ropod_navigation_test)/../occupancy_grids/brsu/brsu-c-floor0_osm/map.yaml" />

    <arg name="cart_length" default="1.1"/>
    <arg name="robot_id" default="load" />
    <arg name="init_x" default="60.0" />
    <arg name="init_y" default="32.0" />
    <arg name="init_theta" default="1.57" />

    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="start_rviz" default="true"/>

    <arg name="world_model_name" default="brsu"/>
    <arg name="global_frame" default="map"/>

    <!-- Load the world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    </include>

    <!-- World -->
    <group>
        <arg name="world_model"
             default="$(find ropod_sim)/world_description/$(arg world_model_name).xacro"/>
        <param name="world_description"
               command="rosrun xacro xacro --inorder '$(arg world_model)'" />

        <!-- spawn uploaded world model -->
        <node pkg="gazebo_ros" name="gazebo_world_model" type="spawn_model"
              respawn="false" output="screen"
              args="-urdf -param world_description -model world -x 0.0 -y 0.0 -z 0.0" />
    </group>

    <!-- Robot -->
    <include file="$(find ropod_sim)/ros/launch/ropod.launch">
        <arg name="model" value="ropod"/>
        <arg name="robot_id" value="$(arg robot_id)" />
        <arg name="init_x" value="$(arg init_x)" />
        <arg name="init_y" value="$(arg init_y)" />
        <arg name="init_theta" value="$(arg init_theta)" />
        <arg name="cart_length" value="$(arg cart_length)" />
    </include>

    <include file="$(find basic_navigation)/ros/launch/amcl.launch">
        <arg name="robot_id" value="$(arg robot_id)"/>
        <arg name="initial_pose_x" value="$(arg init_x)" />
        <arg name="initial_pose_y" value="$(arg init_y)" />
        <arg name="initial_pose_a" value="$(arg init_theta)" />
    </include>

    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <group if="$(arg start_rviz)">
        <!-- rviz for visualisation -->
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find basic_navigation)/ros/config/basic_navigation.rviz" />
    </group>

</launch>
